@charset "utf-8";

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }

  .about-right h3 {
    color: #f5ae71;
    margin: 20px 0 30px;
  }

  .gallery-list li {
    width: 48%;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }

  .header {
    width: 100vw;
    padding: 10px 0;
  }

  .header .container {
    display: block;
    text-align: center;
  }

  .header-logo {
    justify-content: center;
    margin-bottom: 10px;
  }

  .header-menu ul {
    justify-content: center;
  }

  .header-media ul {
    display: none;
    visibility: hidden;
  }

  .top-section h2 {
    font-size: 60px;
  }

  .top-section span {
    font-size: 30px;
    letter-spacing: 2px;
  }

  .top-section i {
    font-size: 30px;
  }

  .about-wrapper {
    display: block;
  }
  .about-left {
    width: 100%;
  }

  .about-right {
    width: 100%;
  }

  .about-right h3 {
    color: #f5ae71;
    margin: 0;
  }

  .title2 {
    opacity: 0;
    transform: translateX(60px) translateY(-580px);
    transition: 0.5s ease-in-out;
  }

  .left-in {
    opacity: 1;
    transform: translateX(30px) translateY(-580px);
  }

  .gallery-list {
    display: block;
  }

  .gallery-list li {
    width: 100%;
  }

  .contact-form {
    width: 100%;
  }

  .footer-contents {
    display: block;
    width: 100%;
  }

  .footer-left,
  .footer-center {
    margin-bottom: 80px;
  }

  .media-contents {
    width: 30%;
  }
}
